<a href="https://colab.research.google.com/github/raviyadav44/THE-SPARK-FOUNDATION-INTERNSHIP/blob/main/Task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#GRIP : The Spark Foundation
###Data Science and Business Analytics Intern
###Author : Ravi Yadav
###EDA ON TERRORISM DATASET
(Level - Intermediate)

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
%matplotlib inline

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/internship/globalterrorismdb_0718dist.csv",encoding='latin1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.shape

(181691, 135)

In [ ]:
df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [ ]:
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [ ]:
df.shape

(181691, 135)

#DATA PREPROCESSING

###removing those columns which is having missing values for more than 60% of the data

In [ ]:
col=[]

for c in df.columns:
  if (df[c].isna().sum()>109015):
    col.append(c)
col

['approxdate',
 'resolution',
 'location',
 'alternative',
 'alternative_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain2',
 'guncertain3',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite3',
 'related']

In [ ]:
df_=df.drop(columns=col,inplace=True)

In [ ]:
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'extended', 'country',
       'country_txt', 'region', 'region_txt', 'provstate', 'city', 'latitude',
       'longitude', 'specificity', 'vicinity', 'summary', 'crit1', 'crit2',
       'crit3', 'doubtterr', 'multiple', 'success', 'suicide', 'attacktype1',
       'attacktype1_txt', 'targtype1', 'targtype1_txt', 'targsubtype1',
       'targsubtype1_txt', 'corp1', 'target1', 'natlty1', 'natlty1_txt',
       'gname', 'guncertain1', 'individual', 'nperps', 'nperpcap', 'claimed',
       'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt',
       'weapdetail', 'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus',
       'nwoundte', 'property', 'ishostkid', 'ransom', 'scite1', 'scite2',
       'dbsource', 'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY'],
      dtype='object')

In [ ]:
df.shape

(181691, 60)

####Select particular features for further indepth anylasis.

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/internship/globalterrorismdb_0718dist.csv",encoding='latin1',usecols=['eventid', 'iyear', 'imonth', 'iday', 'extended', 'country_txt','region_txt', 'city',
                             'specificity', 'vicinity','success', 'suicide', 'attacktype1_txt','targtype1_txt','targsubtype1_txt','individual','natlty1_txt',
                             'weaptype1_txt', 'dbsource', 'nkill'])

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   eventid           181691 non-null  int64
 1   iyear             181691 non-null  int64
 2   imonth            181691 non-null  int64
 3   iday              181691 non-null  int64
 4   extended          181691 non-null  int64
 5   country_txt       181691 non-null  object
 6   region_txt        181691 non-null  object
 7   city              181257 non-null  object
 8   specificity       181685 non-null  float64
 9   vicinity          181691 non-null  int64
 10  success           181691 non-null  int64
 11  suicide           181691 non-null  int64
 12  attacktype1_txt   181691 non-null  object
 13  targtype1_txt     181691 non-null  object
 14  targsubtype1_txt  171318 non-null  object
 15  natlty1_txt       180132 non-null  object
 16  individual        181691 non-null  int64
 17  weaptype1_txt     181691 non-null  object
 18  nkill             171378 non-null  float64
 19  dbsource          181691 non-null  object
dtypes: float64(2), int64(9), object(9)
memory usage: 27.7+ MB

###Renaming the columns for improving the readabilty

In [ ]:
new_col={'eventid':'EventId','iyear':'Year','imonth':'Month','iday':'Day','extended':'Extended','country_txt':'Country','region_txt':'Region','city':'City','specificity':'Specificity',
         'attacktype1_txt':'Attack','targtype1_txt':'Target','targsubtype1_txt':'SubTarget','natlty1_txt':'Nationality','individual':'Individual','weaptype1_txt':'Weapon','nkill':'Kills',
         'vicinity':'Vicinity','success':'Success','suicide':'Suicide','dbsource':'Source'}
data=data.rename(columns=new_col)

In [ ]:
data.isna().sum()

EventId            0
Year               0
Month              0
Day                0
Extended           0
Country            0
Region             0
City             434
Specificity        6
Vicinity           0
Success            0
Suicide            0
Attack             0
Target             0
SubTarget      10373
Nationality     1559
Individual         0
Weapon             0
Kills          10313
Source             0
dtype: int64

In [ ]:
weapon=data.Weapon.unique()
attack=data.Attack.unique()
print(weapon)
print(attack)

['Unknown' 'Explosives' 'Incendiary' 'Firearms' 'Chemical' 'Melee'
 'Sabotage Equipment'
 'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)'
 'Fake Weapons' 'Radiological' 'Other' 'Biological']
['Assassination' 'Hostage Taking (Kidnapping)' 'Bombing/Explosion'
 'Facility/Infrastructure Attack' 'Armed Assault' 'Hijacking' 'Unknown'
 'Unarmed Assault' 'Hostage Taking (Barricade Incident)']

In [ ]:
data.Weapon.replace({'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)':'Explosive_Vehicle'},inplace=True)
data.Attack.replace({'Hostage Taking (Kidnapping)':'Kidnapping','Hostage Taking (Barricade Incident)':'Barricade Incident'},inplace=True)

In [ ]:
data['Year']=data.Year.astype(str)
data['Month']=data.Month.astype(str)

In [ ]:
data.Month.unique()

array(['7', '0', '1', '2', '3', '4', '5', '6', '8', '9', '10', '11', '12'],
      dtype=object)

####so 20 row of month have a value 0 so we can change it to Unknown as 0 doesnot signify any month and changing the null cells of city column with unknown so that to avoid data loss

In [ ]:
data['Month'].replace({'0':'Unknown'},inplace=True)
data.City.replace({np.nan:'Unknown'},inplace=True)
data.Day.replace({0:'Unknown'},inplace=True)

In [ ]:
data.describe()

            EventId       Extended  ...     Individual          Kills
count  1.816910e+05  181691.000000  ...  181691.000000  171378.000000
mean   2.002705e+11       0.045346  ...       0.002950       2.403272
std    1.325957e+09       0.208063  ...       0.054234      11.545741
min    1.970000e+11       0.000000  ...       0.000000       0.000000
25%    1.991021e+11       0.000000  ...       0.000000       0.000000
50%    2.009022e+11       0.000000  ...       0.000000       0.000000
75%    2.014081e+11       0.000000  ...       0.000000       2.000000
max    2.017123e+11       1.000000  ...       1.000000    1570.000000

[8 rows x 8 columns]

####finally dropping the rest of the nan values

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.shape

(160957, 20)

In [ ]:
#data.to_csv('/content/drive/MyDrive/internship/cleaned_data.csv')

In [ ]:
data.head()

        EventId  Year    Month  ...    Weapon  Kills          Source
0  197000000001  1970        7  ...   Unknown    1.0            PGIS
1  197000000002  1970  Unknown  ...   Unknown    0.0            PGIS
2  197001000001  1970        1  ...   Unknown    1.0            PGIS
5  197001010002  1970        1  ...  Firearms    0.0  Hewitt Project
6  197001020001  1970        1  ...  Firearms    0.0            PGIS

[5 rows x 20 columns]

#After that the rest of anylasis is done in powerbi

#THANK YOU